:root {
--primary: #58727f;
--secondary: #83afa6;
--background: #e5e5e5;
}
h2 {
  text-transform: capitalize;
}

.App {
  text-align: center;
  padding: 0 10%
}

.search {
  display: flex;
  justify-content: center;
}

.searchBar {
  border: 1px solid;
}

.searchBar > input {
  border: none;
}

input:focus {
  outline: none;
}

.gallery {
  display: grid;
  grid-template-columns:repeat(4, 1fr) ;
  justify-items: center;
  /* gap: 1%;
  overflow: scroll; */
}

.gallery::-webkit-scrollbar{
  display: none;
}

.imgContainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: grid;
  align-content: center;
  justify-content: center;
}

.imgContainer > img{
  transform: scale(1);
  transition-duration: 2s;
  transition-timing-function:ease;
  
  }

.imgContainer > img:hover{
transform: scale(1.5);
transition-duration: 2s;
transition-timing-function:ease;
}

.buttonGroup {
  margin: 5%;
  display: flex;
  justify-content: center;
}

a {
  background-color: blue;
  color: white;
  text-decoration: none;
  border: 1px solid white;
}

