:root {
  --primary: #58727f;
  --primaryTransperent: rgba(88, 114, 127, 0.7);
  --secondary: #83afa6;
  --background: #e5e5e5;
  --likeBtn: #d3a284;
  --unlikeBtn: #2c5d7b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
}

h2,
h3 {
  text-transform: capitalize;
  color: var(--primary);
}

.App {
  text-align: center;
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.nav {
  padding-top: 1%;
  width: 100%;
  color: var(--background);
  background-color: var(--primary);
  display: grid;
  justify-items: center;
  height: 25vh;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--secondary);
  border-radius: 180px;
  width: 50%;
  height: 40px;
  overflow: hidden;
  background-color: var(--background);
  color: var(--secondary);
}

.search > a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 20%;
  height: 100%;
  background-color: var(--secondary);
  color: var(--background);
  text-decoration: none;
}

.searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%;
  background: none;
  width: 100%;
  height: 30px;
}

.searchBar > input {
  border: none;
  background: none;
  margin-left: 1%;
  width: 100%;
}

.searchBar > input:focus {
  outline: none;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonGroup > a {
  border-radius: 10px;
  margin: 0 5%;
  padding: 1% 5%;
  text-decoration: none;
  border: 1px solid var(--background);
  color: var(--background);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.buttonGroup > a:hover {
  border: 1px solid;
  color: var(--secondary);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.empty {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 65vh;
}

.galleryContainer {
  height: 80vh;
  overflow: hidden;
}

.emptyFavorites {
  color: var(--primary);
  font-size: 30px;
  position: absolute;
  z-index: 1;
  top: 27%;
  left: 3%;
  transition: 1s;
  transition-timing-function: ease;
}

.emptyFavorites:hover {
  color: var(--secondary);
  transition: 1s;
  transition-timing-function: ease;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  overflow: scroll;
  height: 75%;
  padding: 1% 10%;
  gap: 1%;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: grid;
  align-content: center;
  justify-content: center;
}

.imgContainer > img {
  width: 100%;
  transform: scale(1);
  transition-duration: 2s;
  transition-timing-function: ease;
}

.imgContainer > img:hover {
  transform: scale(1.2);
  transition-duration: 2s;
  transition-timing-function: ease;
}

.like,
.unlike {
  position: absolute;
  top: 10%;
  left: 10%;
  color: var(--likeBtn);
  font-size: 30px;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.unlike {
  color: var(--unlikeBtn);
}

.unlike:hover,
.like:hover {
  text-shadow: 0px 0px 20px var(--background);
  transform: scale(1.2);
  transition-duration: 1s;
  transition-timing-function: ease;
}

.loadMore {
  display: flex;
  justify-content: center;
}
.loadMore > button {
  border: none;
  background-color: var(--secondary);
  color: var(--background);
  width: 200px;
  height: 50px;
  margin: 1%;
}

.loader {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 5px dashed var(--secondary);
  border-radius: 360%;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.carousel {
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carouselImg {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carouselImg > .imgContainer {
  width: 100%;
  height: auto;
  padding: 0;
}

.carouselImg > .imgContainer > img {
  width: 100%;
  height: auto;
}

.carouselImg > .imgContainer > img:hover {
  transform: none;
}

.btnsContainer {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.btnsContainer > button {
  background: none;
  border: none;
  font-size: 20px;
  color: var(--background);
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 180px;
  width: 30px;
}

.carouselImgDetails {
  text-transform: capitalize;
  position: absolute;
  bottom: 0px;
  background-image: linear-gradient(to top, var(--primary), #58727f00);
  color: var(--background);
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: large;
  opacity: 0;
  transition-duration: 2s;
}
.carouselImgDetails:hover {
  opacity: 100;
  transition-duration: 1s;
}
.darkBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: var(--primaryTransperent);
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 950px) {
  .search {
    width: 80%;
  }
  .buttonGroup > a {
    margin: 0 1%;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .carousel {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .imgContainer {
    width: 100%;
  }
  .imgContainer > img {
    width: 100%;
  }
}
